# Binaries
bin/
build/
*.exe *.dll *.so *.dylib *.test *.out

# Logs and env
*.log
.env
.env.*

# Go modules & vendor
go.work
go.work.sum
vendor/

# IDE/editor
.vscode/
.idea/
.DS_Store
*.swp *.swo *.bak
